<ul style="list-style-type:none"><h4>Adding chart template to an existing area (28 s)</h4><li id="091a7a20-2641-11e8-a9a9-ff7a136dbf8c" class="passed" data-spec="spec0" data-name="Enter Visit Doc from Patient Cases (TX-337)" data-browser="chrome"><span class="passed">&#10003;</span><a href="6b73831adf8ba124e1ff41db1fa45b35.png">Enter Visit Doc from Patient Cases (TX-337)</a>(9 s)</li><li id="091a7a21-2641-11e8-a9a9-ff7a136dbf8c" class="failed" data-spec="spec1" data-name="Add a Template" data-browser="chrome"><span class="failed">&#10007;</span><a href="bd0cc95730bf3387f6729e374f5db936.png">Add a Template</a>(11 s)<ul><li>Failed: waiting for template information to be added before I assert
Wait timed out after 5003ms [<a href="javascript:showhide('spec1-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec1-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">TimeoutError: waiting for template information to be added before I assert
Wait timed out after 5003ms
    at C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2201:17
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:26:5)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li><li id="091a7a22-2641-11e8-a9a9-ff7a136dbf8c" class="failed" data-spec="spec2" data-name="Check Template Order" data-browser="chrome"><span class="failed">&#10007;</span><a href="9aee19e63b6d3048777383e75299ee52.png">Check Template Order</a>(6 s)<ul><li>Failed: Expanding Subjective area did not display the Summary item and browser timed out
Wait timed out after 5010ms [<a href="javascript:showhide('spec2-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec2-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">TimeoutError: Expanding Subjective area did not display the Summary item and browser timed out
Wait timed out after 5010ms
    at C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2201:17
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:40:9)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li><li title="No screenshot was created for this test case." id="091aa130-2641-11e8-a9a9-ff7a136dbf8c" class="failed" data-spec="spec3" data-name="Adding chart template to an existing area" data-browser="chrome"><span class="failed">&#10007;</span>Adding chart template to an existing area (2 s)<ul><li>Failed: java.net.SocketException: Connection reset [<a href="javascript:showhide('spec3-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec3-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">WebDriverError: java.net.SocketException: Connection reset
    at Object.checkLegacyResponse (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\error.js:546:15)
    at parseHttpResponse (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\http.js:509:13)
    at doSend.then.response (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\http.js:441:30)
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)Error
    at ElementArrayFinder.applyAction_ (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:459:27)
    at ElementArrayFinder.(anonymous function).args [as getAttribute] (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:91:29)
    at Object.clickTreeContent (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\visitDoc\commonVisitDoc.js:124:124)
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:54:5)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li></ul><a href="javascript:showhide('091aa131-2641-11e8-a9a9-ff7a136dbf8c')">Toggle Configuration</a><div class="config" id="091aa131-2641-11e8-a9a9-ff7a136dbf8c" style="display: none"><h4>Configuration</h4><li>Jasmine version:  2.8.0</li><li>Browser name:  chrome</li><li>Browser version:  63.0.3239.132</li><li>Platform:  Windows NT</li><li>Javascript enabled:  true</li><li>Css selectors enabled:  true</li></div>