<ul style="list-style-type:none"><h4>Adding chart template to an existing area (22 s)</h4><li id="64f71540-2625-11e8-af99-51b0a25f05eb" class="failed" data-spec="spec0" data-name="Enter Visit Doc from Patient Cases (TX-337)" data-browser="chrome"><span class="failed">&#10007;</span><a href="7d6987b03dd7c3a375df4868b8be8e76.png">Enter Visit Doc from Patient Cases (TX-337)</a>(14 s)<ul><li>Failed: Unable to click Cancel in the Pick a Template dialog and the browser timed out
Wait timed out after 5012ms [<a href="javascript:showhide('spec0-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec0-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">TimeoutError: Unable to click Cancel in the Pick a Template dialog and the browser timed out
Wait timed out after 5012ms
    at C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2201:17
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:18:5)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li><li id="64f73c50-2625-11e8-af99-51b0a25f05eb" class="failed" data-spec="spec1" data-name="Add a Template" data-browser="chrome"><span class="failed">&#10007;</span><a href="1ef66199cecff0df8a987a9bad9ded44.png">Add a Template</a>(8 s)<ul><li>Failed: Expanding Subjective area did not display the Summary item and browser timed out
Wait timed out after 5043ms [<a href="javascript:showhide('spec1-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec1-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">TimeoutError: Expanding Subjective area did not display the Summary item and browser timed out
Wait timed out after 5043ms
    at C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2201:17
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:26:5)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li><li id="64f73c51-2625-11e8-af99-51b0a25f05eb" class="failed" data-spec="spec2" data-name="Check Template Order" data-browser="chrome"><span class="failed">&#10007;</span><a href="35f6a5dd53d279a303733757803bc73a.png">Check Template Order</a>(0.364 s)<ul><li>Failed: unknown error: Element &lt;md-icon class=&quot;icon-plus ng-scope material-icons&quot; aria-hidden=&quot;true&quot;&gt;&lt;/md-icon&gt; is not clickable at point (1570, 196). Other element would receive the click: &lt;div class=&quot;md-dialog-container ng-scope&quot; tabindex=&quot;-1&quot; style=&quot;top: 0px; height: 905px;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=63.0.3239.132)
  (Driver info: chromedriver=2.36.540470 (e522d04694c7ebea4ba8821272dbef4f9b818c91),platform=Windows NT 10.0.16299 x86_64) [<a href="javascript:showhide('spec2-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec2-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">WebDriverError: unknown error: Element &lt;md-icon class=&quot;icon-plus ng-scope material-icons&quot; aria-hidden=&quot;true&quot;&gt;&lt;/md-icon&gt; is not clickable at point (1570, 196). Other element would receive the click: &lt;div class=&quot;md-dialog-container ng-scope&quot; tabindex=&quot;-1&quot; style=&quot;top: 0px; height: 905px;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=63.0.3239.132)
  (Driver info: chromedriver=2.36.540470 (e522d04694c7ebea4ba8821272dbef4f9b818c91),platform=Windows NT 10.0.16299 x86_64)
    at Object.checkLegacyResponse (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\error.js:546:15)
    at parseHttpResponse (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\http.js:509:13)
    at doSend.then.response (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\http.js:441:30)
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)Error
    at ElementArrayFinder.applyAction_ (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:459:27)
    at ElementArrayFinder.(anonymous function).args [as click] (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:91:29)
    at ElementFinder.(anonymous function).args [as click] (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:831:22)
    at Object.addArea (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\visitDoc\commonVisitDoc.js:39:69)
    at UserContext.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:43:30)
    at C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasminewd2\index.js:112:25
    at new Promise (&lt;anonymous&gt;)
    at SimpleScheduler.promise (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2242:12)
    at schedulerExecute (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasminewd2\index.js:95:18)
    at promise (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2232:22)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:40:9)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li><li title="No screenshot was created for this test case." id="64f73c52-2625-11e8-af99-51b0a25f05eb" class="failed" data-spec="spec3" data-name="Adding chart template to an existing area" data-browser="chrome"><span class="failed">&#10007;</span>Adding chart template to an existing area (0.369 s)<ul><li>Failed: unknown error: Element &lt;md-icon class=&quot;icon-plus ng-scope material-icons&quot; aria-hidden=&quot;true&quot;&gt;&lt;/md-icon&gt; is not clickable at point (1570, 196). Other element would receive the click: &lt;div class=&quot;md-dialog-container ng-scope&quot; tabindex=&quot;-1&quot; style=&quot;top: 0px; height: 905px;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=63.0.3239.132)
  (Driver info: chromedriver=2.36.540470 (e522d04694c7ebea4ba8821272dbef4f9b818c91),platform=Windows NT 10.0.16299 x86_64) [<a href="javascript:showhide('spec3-WindowsNT-chrome-63.0.3239.1320')">stack</a>]<br/><span style="display: none" id="spec3-WindowsNT-chrome-63.0.3239.1320" class="stacktrace">WebDriverError: unknown error: Element &lt;md-icon class=&quot;icon-plus ng-scope material-icons&quot; aria-hidden=&quot;true&quot;&gt;&lt;/md-icon&gt; is not clickable at point (1570, 196). Other element would receive the click: &lt;div class=&quot;md-dialog-container ng-scope&quot; tabindex=&quot;-1&quot; style=&quot;top: 0px; height: 905px;&quot;&gt;...&lt;/div&gt;
  (Session info: chrome=63.0.3239.132)
  (Driver info: chromedriver=2.36.540470 (e522d04694c7ebea4ba8821272dbef4f9b818c91),platform=Windows NT 10.0.16299 x86_64)
    at Object.checkLegacyResponse (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\error.js:546:15)
    at parseHttpResponse (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\http.js:509:13)
    at doSend.then.response (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\http.js:441:30)
    at &lt;anonymous&gt;
    at process._tickCallback (internal/process/next_tick.js:188:7)Error
    at ElementArrayFinder.applyAction_ (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:459:27)
    at ElementArrayFinder.(anonymous function).args [as click] (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:91:29)
    at ElementFinder.(anonymous function).args [as click] (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\protractor\built\element.js:831:22)
    at Object.addArea (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\visitDoc\commonVisitDoc.js:39:69)
    at UserContext.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:55:30)
    at C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasminewd2\index.js:112:25
    at new Promise (&lt;anonymous&gt;)
    at SimpleScheduler.promise (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2242:12)
    at schedulerExecute (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasminewd2\index.js:95:18)
    at promise (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\selenium-webdriver\lib\promise.js:2232:22)
From asynchronous test: 
Error
    at Suite.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:54:5)
    at addSpecsToSuite (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1107:25)
    at Env.describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:1074:7)
    at describe (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\node_modules\jasmine-core\lib\jasmine-core\jasmine.js:4399:18)
    at Object.&lt;anonymous&gt; (C:\Users\bthomson\Code\mohawk\Therapist\Tests\Therapist.UserInterface.Tests.JavaScript\template\template.js:17:1)
    at Module._compile (module.js:643:30)
    at Object.Module._extensions..js (module.js:654:10)
    at Module.load (module.js:556:32)
    at tryModuleLoad (module.js:499:12)</span></li></ul></li></ul><a href="javascript:showhide('64f76360-2625-11e8-af99-51b0a25f05eb')">Toggle Configuration</a><div class="config" id="64f76360-2625-11e8-af99-51b0a25f05eb" style="display: none"><h4>Configuration</h4><li>Jasmine version:  2.8.0</li><li>Browser name:  chrome</li><li>Browser version:  63.0.3239.132</li><li>Platform:  Windows NT</li><li>Javascript enabled:  true</li><li>Css selectors enabled:  true</li></div>